.px-12 {
  padding-left: 24rem;
  padding-right: 24rem;
}
.py-8 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
